<h1>Tervetuloa!</h1>
<div class="etusivu">
  <div class="teksti">
    <article>

      <pre>
Minun nimeni on Aleksi Hakala. Olen 25 vuotias muusikko ja tietojenkäsittelijä-opiskelija. Muusikon tutkinnon 
suoritin vuonna 2022 ja nyt opiskelen toista vuotta tietojenkäsittelyä Jamkilla. Olen erikoistumassa full-stack 
ohjelmointiin, mutta samalla kartutan pilvialustojen (AWS) osaamista, josta olen tähän asti nauttinut suuresti.
  </pre>
      <pre>
Tältä sivustolta löydät kaiken oleellisen informaation liittyen tekemiini projekteihin musiikin ja 
ohjelmoinnin/sovelluskehityksen tiimoilta, sekä työhistoriani kokonaisuudessaan.
Täältä löydät myös koulutustaustani ja sertifikaatit, jotka olen ansainnut.
</pre>
    </article>
  </div>
  <div><img src="assets/img/portrait.jpg" class="portrait"></div>
</div>
<div id="signature">
  <img id="signatureimg" src="assets/img/signature.png">
</div>
<div class="badgescontainer">
  <div class="badges">
    <img src="\assets\img\badges\aws-academy-graduate-aws-academy-cloud-foundations.png">
  </div>
</div>