<div class="header">
  <h2 class="otsikko">{{title}}</h2>
  <div class="sociallinks">
    <a href="https://www.linkedin.com/in/aleksi-hakala-a061121a7/" target="_blank"><button class="linkbutton"><span><img
            src="assets/img/links/linked.png" class="linkimg"></span></button></a>
    <a href="https://open.spotify.com/artist/4aPGiD72YUspyHkT368CU9?si=w_-KvRrKQ_-uaHVHoP3-yg" target="_blank"><button
        class="linkbutton"><span><img src="assets/img/Spotify.png" class="linkimg"></span></button></a>
    <a href="https://github.com/Haklu98" target="_blank"><button class="linkbutton"><span><img
            src="assets/img/links/git.png" class="linkimg"></span></button></a>
    <a href="https://www.facebook.com/AleksiTSHakala" target="_blank"><button class="linkbutton"><span><img
            src="assets/img/links/FacebookLogo.png" class="linkimg"></span></button></a>
    <a href="https://www.instagram.com/lalexeii/" target="_blank"><button class="linkbutton"><span><img
            src="assets/img/links/insta.png" class="linkimg"></span></button></a>

  </div>
</div>
<!--Otsikon alle lisätään navigointipalkki.-->

<body><app-navbar></app-navbar></body>

<footer><app-footer></app-footer></footer>